$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


body {
  padding-top: 70px;
}

.product-tabs .panel {
  border-top: none;
  border-radius: 0;
}

.form-control {
  &.ng-dirty.ng-invalid {
    color: $state-danger-text;
    border-color: $state-danger-text;
  }

  &.ng-dirty.ng-valid {
    color: $state-success-text;
    border-color: $state-success-text;
  }
}
