<div class="row">
  <div class="col-md-12">

    <ul class="list-group">
      <li ng-repeat="product in store.products | orderBy: '-name'" class="list-group-item">
        <div ng-hide="product.soldOut">
          <h3>
            {{ product.name }}
            <span class="pull-right">{{ product.price | currency }}</span>
          </h3>
          <div class="media">
            <div class="pull-left">
              <img ng-src="{{ product.images[0].thumb }}" class="media-object">
            </div>
            <div class="media-body">
              <p>
                {{ product.description }}
              </p>
              <p class="pull-right">
                <button class="btn btn-primary" ng-show="product.canPurchase">
                  Add to Cart
                </button>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
